<div>
    <section data-topic="recipient">
        <div class="row">
            <div class="col-md-6" id="top-partners-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{top-partners}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div data-item="top-partners"></div>
                </div>
            </div>
            <div class="col-md-6" id="financing-priorities-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{financing-priorities}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div data-item="financing-priorities"></div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-6" id="top-channels-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{top-channels}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div data-item="top-channels"></div>
                </div>
            </div>
        </div>

        -->
    </section>
    <section data-topic="partner">
        <div class="row">
            <div class="col-md-6" id="top-partners-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{top-partners}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div data-item="top-partners"></div>
                </div>
            </div>
            <div class="col-md-6" id="financing-priorities-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{financing-priorities}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div data-item="financing-priorities"></div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-6" id="top-channels-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{top-channels}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div data-item="top-channels"></div>
                </div>
            </div>
        </div>

        -->
    </section>
    <section data-topic="recipient-partner">
        <div class="row">
            <div class="col-md-6" id="top-partners-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{top-partners}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div data-item="top-partners"></div>
                </div>
            </div>
            <div class="col-md-6" id="top-recipients-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{top-recipients}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div data-item="top-recipients"></div>
                </div>
            </div>
            <div class="col-md-6" id="financing-priorities-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{financing-priorities}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div data-item="financing-priorities"></div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-6" id="top-channels-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{top-channels}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div data-item="top-channels"></div>
                </div>
            </div>
        </div>

        -->
    </section>

    <section data-topic="all-recipient-partner">
        <div class="row">
            <div class="col-md-6" id="top-recipients-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{top-recipients}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div data-item="top-recipients"></div>
                </div>
            </div>
            <div class="col-md-6" id="financing-priorities-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{financing-priorities}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div data-item="financing-priorities"></div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-6" id="top-channels-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{top-channels}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div data-item="top-channels"></div>
                </div>
            </div>
        </div>

        -->
    </section>
</div>
