<h1>{{ title }}</h1>

<hr>

<button id="compare-collapse-btn" class="btn btn-default pull-right">{{ collapse_btn }}</button><br>

<hr>

<!-- Selectors container -->
<div id="analyze-compare-selectors"></div>

<hr>

<span class="compare-as">

    {{ compare_as }}

    <input id="kind-1" type="radio" name="kind" value="chart" checked="chacked">
    <label for="kind-1">{{ kind_chart }}</label>

    <input id="kind-2" type="radio" name="kind" value="table">
    <label for="kind-2">{{ kind_table }}</label>

</span>

<!-- Compare and reset btn-->
<button data-btn id="compare-btn" class="btn btn-default pull-right">{{ compare_btn }}</button>
<button data-btn id="reset-btn" class="btn btn-default pull-right">{{ reset_btn }}</button><br>

<hr>

<div id="error-container"></div>

<!-- Results container -->
<div id="analyze-compare-results"></div>