<h1>{{ title }}</h1>

<hr>

<div class="row">
    <div class="col-sm-12">
        <a id="compare-collapse-btn" class="compare-collapse-btn pull-right">{{ collapse_btn }} <span class="icojam_view_roll-up_2"></span></a><br>

        <div class="toggle-wrapper pull-right">
            <p class="toggle-text">{{ show_advanced_options }}</p>
            <input type="checkbox" name="advanced-options" id="advanced-options"
                   data-type="switch" data-role="switch" checked>
            <label for="advanced-options"></label>
        </div>
    </div>
</div>


<hr>

<!-- Selectors container -->
<div id="analyze-compare-selectors"></div>

<hr>

<span class="advanced-option">
    <span>{{expectedResult}}: </span><span id="expected-results"></span>
</span>

<!-- Compare and reset btn-->
<button data-btn id="compare-btn" class="btn btn-default pull-right" >{{ compare_btn }}</button>
<button data-btn id="reset-btn" class="btn btn-default pull-right">{{ reset_btn }}</button><br>

<hr>

<div id="error-container"></div>

<!-- Results container -->
<div id="analyze-compare-results"></div>