<li class="fx-analysis-item fit fx-result" data-status="loading">

    <div class="fx-handle"></div>

    <div class="fx-dataset-details-container">
        <!-- Result Title -->
        <span class="fx-dataset-details truncate">{{oda}}</span>
    </div>

    <div class='fx-widget'>

        <ul class="nav nav-tabs small-icons-analysis" role="tablist">

            <li role="presentation" class="pull-right">
                <a data-control='remove'>
                    <span class="fx-widget-icons icojam_button_delete_1"></span>
                </a>
            </li>

            <li role="presentation">
                <a href="#fx-tab-table-{{id}}" role="tab" data-toggle="tab" data-visualization="table">
                    {{ tab_table }}
                </a>
            </li>

            <li role="presentation" data-visualization="chart">
                <a href="#fx-tab-chart-{{id}}" role="tab" data-toggle="tab" data-visualization="chart">
                    {{ tab_chart }}
                </a>
            </li>

        </ul>

        <div class="row fit-height">
            <div class="col-xs-12 fit-height">

                <div data-content="ready" class="fixed-height">

                    <div class="tab-content fit-height">

                        <div id="fx-tab-table-{{id}}" role="tabpanel" data-visualization="table" class="tab-pane fade fit-height">
                            <div data-container="table" id="fx-tab-table-container-{{id}}">
                                TABLE
                            </div>
                        </div>
                        <div id="fx-tab-chart-{{id}}" role="tabpanel" data-visualization="chart" class="tab-pane fade fit-height">

                            <div data-container="chart" class="fit-height"></div>
                        </div>
                    </div>

                </div>

                <div data-content="error" class="fixed-height">
                    <span class="status-label">
                        {{ result_error }}
                        <br><br>
                        <button data-control="reload" class="btn btn-default">{{ reload }}</button>
                    </span>
                </div>

                <div data-content="loading" class="fixed-height">
                    <span class="loading loading-48"></span>
                </div>

            </div>
        </div>

    </div>
</li>