<li class="fx-result" data-status="loading">

    <!-- header -->
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-5">
                   <span class="compare-as">

                    {{ compare_as }}

                       <input id="visualization-{{id}}-1" type="radio" name="visualization-{{id}}" value="chart" checked="checked">
                        <label for="visualization-{{id}}-1">{{ kind_chart }}</label>

                        <input id="visualization-{{id}}-2" type="radio" name="visualization-{{id}}" value="table">
                        <label for="visualization-{{id}}-2">{{ kind_table }}</label>

                    </span>
                </div>

                <div class="col-xs-5">
                    {{oda}}
                </div>

                <div class="col-xs-2">
                    <button data-action="remove" class="btn btn-default pull-right">remove</button>
                </div>
            </div>
        </div>
    </div>

    <!-- content -->
    <div class="row">
        <div class="col-xs-12">

            <div data-content="ready">
                <div class="tab-container">
                    <div data-visualization="chart" class="result-tab">
                        <div data-container>
                            CHART
                        </div>
                    </div>
                    <div data-visualization="table" class="result-tab">
                        <div data-container>
                            TABLE
                        </div>
                    </div>
                </div>
            </div>

            <div data-content="error">
                ERROR
                <button data-action="reload" class="btn btn-default">{{ reload }}</button>

            </div>

            <div data-content="loading">
                LOADING
            </div>

        </div>
    </div>

</li>