<div class="fx-analysis-item fit fx-result" data-status="loading">

    <div class="fx-handle"></div>

    <div class="fx-dataset-details-container">
        <!-- Result Title -->
        <span class="fx-dataset-details truncate">{{oda}}</span>
    </div>

    <div class='fx-widget ' role="tabpanel">

        <ul class="nav nav-tabs small-icons-analysis" role="tablist" data-role="fx-module-tabs">

            <!-- Control buttons-->
            <li role="presentation" class="pull-right">
                <a data-control='remove'>
                    <span class="fx-widget-icons icojam_button_delete_1"></span>
                </a>
            </li>

            <li role="presentation" data-plugin="table" class="active">
                <a href="#fx-tab-table-{{id}}" aria-controls="table" role="tab" data-toggle="tab" aria-expanded="true">{{ tab_table }}</a>
            </li>

            <li role="presentation" data-plugin="chart">
                <a href="#fx-tab-chart-{{id}}" aria-controls="chart" role="tab" data-toggle="tab">{{ tab_chart }}</a>
            </li>

        </ul>

        <div class="tab-content" data-role="fx-module-content">

            <!-- content -->
            <div class="row">
                <div class="col-xs-12">

                    <div data-content="ready">

                        <div class="tab-container">
                            <div id="fx-tab-table-{{id}}" role="tabpanel" data-visualization="chart" class="tab-pane active">
                                <div data-container>
                                    CHART
                                </div>
                            </div>
                            <div id="fx-tab-chart-{{id}}" role="tabpanel" data-visualization="table" class="tab-pane">
                                <div data-container>
                                    TABLE
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-content="error">
                        ERROR
                        <button data-action="reload" class="btn btn-default">{{ reload }}</button>

                    </div>

                    <div data-content="loading">
                        LOADING
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>