<div class="row">
    <div class="col-sm-9">
        <h2>{{ sel_heading_compare_by }}</h2>
        <ul class="list-unstyled list-inline">
            <li>
                <input type="radio" id="sel-com-1" name="compare" value="recipient">
                <label for="sel-com-1">{{sel_heading_country}} </label>
            </li>
            <li>
                <input type="radio" id="sel-com-3" name="compare" value="donor">
                <label for="sel-com-3">{{sel_heading_donor}}</label>
            </li>
            <li>
                <input type="radio" id="sel-com-2" name="compare" value="delivery">
                <label for="sel-com-2">{{sel_heading_channel_of_delivery}}</label>
            </li>
            <li>
                <input type="radio" id="sel-com-4" name="compare" value="sector">
                <label for="sel-com-4">{{sel_heading_sector}}</label>
            </li>
            <li>
                <input type="radio" id="sel-com-5" name="compare" value="sub-sector">
                <label for="sel-com-5">{{sel_heading_sub_sector}}</label>
            </li>

        </ul>
    </div>
    <div class="col-sm-3">
        <div class="toggle-wrapper pull-right">
            <p class="toggle-text">{{ show_advanced_options }}</p>
            <input type="checkbox" name="advanced-options" id="advanced-options"
                   data-type="switch" data-role="switch">
            <label for="advanced-options"></label>
        </div>
    </div>
</div>
<div class="row">

    <div class="row-height first-row">

        <div class="col-sm-4 col-sm-height compare-selector">

            <!-- ODA Selector -->
            <div class="fx-selector">

                <div class="row">
                    <div class="col-xs-12">
                        <h2>{{ sel_heading_oda }}</h2>

                        <div data-selector="oda"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-year-container">
                        <h2>{{ sel_heading_year }}</h2>

                        <div class="row">
                            <div class="col-xs-2">
                                <span class="icojam_calendar_6 pull-right year-select"></span>
                            </div>
                            <div class="col-xs-4">
                                <h3>{{ year_form}}</h3>

                                <div data-selector="year-from"></div>
                            </div>
                            <div class="col-xs-2">
                                <span class="fx-arrow-time"></span>
                            </div>
                            <div class="col-xs-4">
                                <h3>{{ year_to}}</h3>

                                <div data-selector="year-to"></div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                </div>


            </div>

        </div>

        <div class="col-sm-4 col-sm-height compare-selector">

            <!-- Country Selector -->
            <div class="fx-selector">

                <div class="selector-header">
                    <h2>{{ sel_heading_country }}  <small class="advanced-option" >[ <span data-role="amount">0</span> ]</small>

                        <div class="toggle-wrapper pull-right advanced-option">
                            <p class="toggle-text">Enable this filter</p>
                            <input type="checkbox" name="disable-selector" id="switch-country" data-target="recipient"
                                   data-type="switch" data-role="switch" checked>
                            <label for="switch-country"></label>
                        </div>

                    </h2>

                </div>

                <!-- Nav tabs -->

                <div class="fx-tabs">

                    <ul id="country-ul" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active" data-sel="country-country">
                            <a href="#countries" aria-controls="countries" role="tab"
                               data-toggle="tab">{{sel_country_tab_countries}}</a>
                        </li>
                        <li role="presentation" data-sel="country-region">
                            <a href="#regions" aria-controls="regions" role="tab"
                               data-toggle="tab">{{sel_country_tab_regions}}</a>
                        </li>
                        <li role="presentation" data-sel="regional-aggregation">
                            <a href="#regional-aggregation" aria-controls="regional-aggregation" role="tab"
                               data-toggle="tab">{{sel_country_tab_regional_aggregation}}</a>
                        </li>

                    </ul>
                </div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="countries" data-selector="country-country">

                        <div class="selector-content">
                            <input data-role="filter" type="text" class="form-control" placeholder="{{search_placeholder}}">

                            <div class="tree-holder">
                                <div data-role="tree"></div>
                            </div>
                        </div>
                        <div class="selector-footer clearfix">
                            <button data-role="clear" class="btn pull-right">{{ clear_all_btn }}</button>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="regions" data-selector="country-region">
                        <div class="selector-content">
                            <input data-role="filter" type="text" class="form-control" placeholder="{{search_placeholder}}">

                            <div class="tree-holder">
                                <div data-role="tree"></div>
                            </div>
                        </div>
                        <div class="selector-footer clearfix">
                            <button data-role="clear" class="btn pull-right">{{ clear_all_btn }}</button>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="regional-aggregation" data-selector="regional-aggregation">
                        <div class="selector-content">
                            <input data-role="filter" type="text" class="form-control" placeholder="{{search_placeholder}}">

                            <div class="tree-holder">
                                <div data-role="tree"></div>
                            </div>
                        </div>
                        <div class="selector-footer clearfix">
                            <button data-role="clear" class="btn pull-right">{{ clear_all_btn }}</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-sm-4 col-sm-height compare-selector">

            <!-- Donor Selector -->
            <div class="fx-selector" data-selector="donor">

                <div class="selector-header">
                    <h2>{{ sel_heading_donor }}  <small class="advanced-option" >[ <span data-role="amount">0</span> ]</small>
                        <div class="toggle-wrapper pull-right advanced-option">
                            <p class="toggle-text">Enable this filter</p>
                            <input type="checkbox" name="disable-selector" id="switch-donor" data-target="donor" data-type="switch"
                                   data-role="switch" checked>
                            <label for="switch-donor"></label>
                        </div>
                    </h2>
                </div>
                <div class="selector-content">
                    <input data-role="filter" type="text" class="form-control" placeholder="{{search_placeholder}}">

                    <div class="tree-holder">
                        <div data-role="tree"></div>
                    </div>
                </div>
                <div class="selector-footer clearfix">
                    <button data-role="clear" class="btn pull-right">{{ clear_all_btn }}</button>
                </div>

            </div>

        </div>

    </div>

</div>

<div class="row">

    <div class="row-height">

        <div class="col-sm-4 col-sm-height compare-selector">
            <!-- Channel of delivery Selector -->
            <div class="fx-selector" data-selector="delivery">

                <div class="selector-header">
                    <h2>{{ sel_heading_channel_of_delivery }}  <small class="advanced-option" >[ <span data-role="amount">0</span> ]</small>
                        <div class="toggle-wrapper pull-right advanced-option">
                            <p class="toggle-text">Enable this filter</p>
                            <input type="checkbox" name="disable-selector" id="switch-delivery" data-target="delivery"
                                   data-type="switch" data-role="switch" checked>
                            <label for="switch-delivery"></label>
                        </div>
                    </h2>
                </div>
                <div class="selector-content">
                    <input data-role="filter" type="text" class="form-control" placeholder="{{search_placeholder}}">

                    <div class="tree-holder">
                        <div data-role="tree"></div>
                    </div>
                </div>
                <div class="selector-footer clearfix">
                    <button data-role="clear" class="btn pull-right">{{ clear_all_btn }}</button>
                </div>
            </div>

        </div>

        <div class="col-sm-4 col-sm-height compare-selector">

            <!-- sector Selector -->
            <div class="fx-selector" data-selector="sector">

                <div class="selector-header">
                    <h2>{{ sel_heading_sector }}  <small class="advanced-option" >[ <span data-role="amount">0</span> ]</small>
                        <div class="toggle-wrapper pull-right advanced-option">
                            <p class="toggle-text">Enable this filter</p>
                            <input type="checkbox" name="disable-selector" id="switch-sector" data-target="sector" data-type="switch"
                                   data-role="switch" checked>
                            <label for="switch-sector"></label>
                        </div>
                    </h2>
                </div>
                <div class="selector-content">
                    <input data-role="filter" type="text" class="form-control" placeholder="{{search_placeholder}}">

                    <div class="tree-holder">
                        <div data-role="tree"></div>
                    </div>
                </div>
                <div class="selector-footer clearfix">
                    <button data-role="clear" class="btn pull-right">{{ clear_all_btn }}</button>
                </div>

            </div>

        </div>

        <div class="col-sm-4 col-sm-height compare-selector">

            <!-- Seb-Sector Selector -->
            <div class="fx-selector" data-selector="sub-sector">

                <div class="selector-header">
                    <h2>{{ sel_heading_sub_sector }} <small class="advanced-option" >[ <span data-role="amount">0</span> ]</small>
                        <div class="toggle-wrapper pull-right advanced-option">
                            <p class="toggle-text">Enable this filter</p>
                            <input type="checkbox" name="disable-selector" id="switch-sub-sector" data-target="sub-sector"
                                   data-type="switch" data-role="switch" checked>
                            <label for="switch-sub-sector"></label>
                        </div>
                    </h2>
                </div>
                <div class="selector-content">
                    <input data-role="filter" type="text" class="form-control" placeholder="{{search_placeholder}}">

                    <div class="tree-holder">
                        <div data-role="tree"></div>
                    </div>
                </div>
                <div class="selector-footer clearfix">
                    <button data-role="clear" class="btn pull-right">{{ clear_all_btn }}</button>
                </div>

            </div>

        </div>

    </div>

</div>