<!-- Indicators -->
{{#grouped_each 3 data.indicators}}
    <div class="row">
        {{#each this }}
            <div class="col-sm-4 adam-entry-point-content">
                <div class="col-sm-10"><p>{{this.name}} ({{this.period}}) <a href="#" name="{{this.footnote}}" class="anchor"><sup>{{this.footnote}}</sup></a></p></div>
                <div class="col-sm-2"><p>{{commaSeparator this.value}}</p></div>
            </div>
        {{/each}}
    </div>
{{/grouped_each}}

<!--  <div class="row">
            <div><p>{{data.source}}:</p></div>
          </div>
           <div class="row">
           {{#each data.footnotes}}
                <div class="col-sm-{{divideBy12 ../data.footnotes.length}}" id="{{this.footnote}}"><p>{{this.footnote}}  {{this.source}}</p></div>
            {{/each}}
          </div>-->


<div class="row">
    <hr/>
</div>

<div class="row">
    <div class="col-sm-11">
        <ul class="list-unstyled">
            <b>{{data.source}}:</b>
            {{#each data.footnotes}}
            <li> <span id="{{this.footnote}}">{{this.footnote}}  {{this.source}} </span>  </li>
            {{/each}}

        </ul>
    </div>
</div>
