<!-- Indicators -->
        {{#grouped_each 3 data.indicators}}
        <div class="row">
            {{#each this }}
                  <div class="col-sm-4 adam-entry-point-content">
                     <div class="col-sm-8"><p>{{this.name}} ({{this.period}}) <sup>{{this.footnote}}</sup>:</p></div>
                     <div class="col-sm-4"><p>{{decimal this.value}}</p></div>
                     <div class="col-sm-4"><p>{{this.source}}</p></div>
                  </div>
            {{/each}}
        </div>
         {{/grouped_each}}

           <div class="row">
            <div style="color:blue"><p>Footnotes:</p></div>
           {{#each data.footnotes}}
                <div style="color:blue"><p><sup>{{this.footnote}}</sup> {{this.source}}</p></div>
            {{/each}}
          </div>

</div>
