<div>
    <section data-topic="sector">

        <div class="row">
            <div class="col-sm-12">
                <div class="obj-box-header"><p><b>Total ODA</b>: {{label}}</p></div>
                <div class="obj-box">
                    <div id="item-1"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="obj-box-header"><p><b>Top Donors</b>: {{label}}</p></div>
                <div class="obj-box">
                    <div id="item-2"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="obj-box-header"><p><b>Top Channels of Delivery</b>: {{label}}</p></div>
                <div class="obj-box">
                    <div id="item-3"></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="obj-box-header"><p><b>Top Sub Sectors</b>: {{label}}</p></div>
                <div class="obj-box">
                    <div id="item-4"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="obj-box-header"><p><b>Total ODA Regional Distribution</b>: {{label}}</p></div>
                <div class="obj-box">
                    <div id="item-5"></div>
                </div>
            </div>
        </div>
       <div class="row">
                    <div class="col-sm-12">
                        <div class="obj-box-header"><p><b>Total ODA Distribution by Country</b>: {{label}}</p></div>
                        <div class="obj-box">
                            <div id="item-6"></div>
                        </div>
                    </div>
                </div>
        <!--  <div class="row">
            <div class="col-sm-12">
                <div class="obj-box-header"><p>Regional Income TEST</p></div>
                <div class="obj-box">
                    <div id="item-7"></div>
                </div>
            </div>
        </div>-->
    </section>
    <section data-topic="country_sector">
        <div class="row">
            <div class="col-sm-6">
                <div class="obj-box-header"><p class="truncate" title="{{label}}"><b>Total ODA</b>: {{label}}</p> </div>
                <div class="obj-box">
                    <div id="item-1"></div>
                </div>
            </div>
                <div class="col-sm-6">
                    <div class="obj-box-header"><p><b>Top Donors</b>: {{label}}</p></div>
                    <div class="obj-box">
                        <div id="item-3"></div>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="obj-box-header"><p><b>Total ODA for most financed sectors</b>: {{label}}</p></div>
                <div class="obj-box">
                    <div id="item-2"></div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-6">
                <div class="obj-box-header"><p><b>Top Channels of Delivery</b>:{{label}}</p></div>
                <div class="obj-box">
                    <div id="item-5"></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="obj-box-header"><p><b>Top Sub Sectors</b>: {{label}}</p></div>
                <div class="obj-box">
                    <div id="item-4"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="obj-box-header"><p><b>Regional Map</b>: {{label}}</p></div>
                <div class="obj-box">
                    <div id="item-6"></div>
                </div>
            </div>
        </div>

    </section>
    <section data-topic="donor_sector">
        <div class="row">
            <div class="col-sm-12">
                <div class="obj-box-header"><p><b>Total ODA</b>: {{label}}</p></div>
                <div class="obj-box">
                    <div id="item-1"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="obj-box-header"><p><b>Total ODA for most financed sectors</b>: {{label}}</p></div>
                <div class="obj-box">
                    <div id="item-2"></div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="obj-box-header"><p><b>Top Channels of Delivery</b>: {{label}}</p></div>
                <div class="obj-box">
                    <div id="item-3"></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="obj-box-header"><p><b>Top Sub Sectors</b>: {{label}}</p></div>
                <div class="obj-box">
                    <div id="item-4"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="obj-box-header"><<p><b>Total ODA Regional Distribution</b>: {{label}}</p></div>
                <div class="obj-box">
                    <div id="item-5"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="obj-box-header"><p><b>Total ODA Distribution by Country</b>: {{label}}</p></div>
                <div class="obj-box">
                    <div id="item-6"></div>
                </div>
            </div>
        </div>
    </section>
    <section data-topic="country_donor_sector">

        <div class="row">
            <div class="col-sm-12">
                <div class="obj-box-header"><p><b>Total ODA</b>: {{label}}</p></div>
                <div class="obj-box">
                    <div id="item-1"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="obj-box-header"><p><b>Total ODA for most financed sectors</b>: {{label}}</p></div>
                <div class="obj-box">
                    <div id="item-2"></div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="obj-box-header"><p><b>Top Channels of Delivery</b>: {{label}}</p></div>
                <div class="obj-box">
                    <div id="item-3"></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="obj-box-header"><p><b>Top Sub Sectors</b>: {{label}}</p></div>
                <div class="obj-box">
                    <div id="item-4"></div>
                </div>
            </div>
        </div>

    </section>


</div>
